@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
.App {
	font-family: 'Raleway', sans-serif;
	background-image: url('https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Colorful-Geometric-Simple-Background-Image.jpg');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}

/* width */
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: rgba(255, 255, 255. 0.2);
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background: rgb(34, 61, 102);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
