.home-component {
	background-color: rgba(255, 255, 255, 0.192);
	padding: 2rem;
	margin-bottom: 2rem;
	border-radius: 6px;
	.row {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
	h1 {
		margin-bottom: 3rem;
		font-size: 3.7rem;
		text-align: center;
		color: rgb(255, 255, 255);
		// font-family: 'Lobster', cursive;
		// font-family: 'Fredoka One', cursive;
		font-family: 'Roboto', sans-serif;
	}
	h2 {
		font-weight: 400;
		font-size: 1.6rem;
		margin-top: 1.5rem;
		font-family: 'Karla', sans-serif;
		text-transform: uppercase;
		text-align: center;
		font-weight: bold;
	}
	.h2first {
		a:link {
			color: rgb(0, 132, 255);
		}
		a:visited {
			color: rgb(0, 132, 255);
		}
	}
	.h2second {
		a:link {
			color: rgb(247, 0, 255);
		}
		a:visited {
			color: rgb(247, 0, 255);
		}
	}
	.h2third {
		a:link {
			color: rgb(247, 0, 255);
		}
		a:visited {
			color: rgb(255, 123, 0);
		}
	}
	p {
		padding: 1.8rem;
		padding-top: 0.5rem;
		font-size: 1.2rem;
		font-weight: 300;
		margin: auto;
		color: rgb(223, 207, 207) !important;
		// height: 100%;
	}
	a {
		text-decoration: none;
	}
	@media only screen and (max-width: 600px) {
		.colSelected {
			img {
				transform: scale(0.8);
			}
		}
		.h2first {
			margin-top: 3rem;
		}
	}
}
