.localSchedule {
	margin: 2vmin;
	margin-bottom: 10vmin;
	.textCard {
		height: 100%;
		flex-direction: row;
		justify-content: space-between;
		padding: 1vmin;
		p {
			margin: auto auto;
		}
		button {
			visibility: hidden;
			outline: none;
			border: none;
			background: none;
			display: inline;
			color: grey;
			margin-Right: 1rem;
			font-Size: 1.2rem;
		}
		button:hover {
			transform: skewY(-10deg);
		}
	}
	.textCard:hover button {
		visibility: visible;
	}
}
@media only screen and (max-width: 600px) {
	.localSchedule {
		.textCard {
			line-height: 1.5;
			button {
				margin: 0;
				visibility: visible;
			}
		}
		.card {
			padding: 1vmin;
		}
	}
}
